.product-name {
    color: black;
    cursor: pointer; /* Curseur en forme de main */
    text-decoration: none;

  }
  


  
  .status-Confirmée {
    color: rgb(74, 189, 8);
  }
  
  .status-Annulée {
    color: red;
  }

  .status-attente {
    color: orange;
  }

  .status-Confirmée {
    color: rgb(13, 156, 0);
  }
  
  .status-Expédiée {
    color: rgb(6, 95, 6);
  }
  
  .status-Livrée {
    color: rgb(0, 4, 255);
  }