<app-navbar-style-one></app-navbar-style-one>

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Qui Sommes-Nous ?</h2>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape" ></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>

<!-- About -->
<div class="agency-about-area ptb-10">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="agency-about-img">
                    <img src="assets/img/apropos.jpg" alt="image" class="responsive-image">
                </div>
                
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="agency-about-content">
                    <h2>Bienvenue a OZISS Cooperation Sarl</h2>
                    <div class="bar"></div>
                    <p>
                      <strong>Oziss</strong>   est une entreprise technologique dédiée à accompagner la transformation 
                        numérique des entreprises africaines. Nous proposons des <strong>solutions IT sur mesure</strong> , 
                        conçues pour répondre aux besoins spécifiques du marché africain.
                    </p>
                    <p>
                        Grâce à notre 
                        expertise et à notre engagement, nous aidons nos clients à optimiser leurs opérations, 
                        renforcer leur compétitivité et saisir les opportunités de croissance.
                    </p>
                    <boutton routerLink="/contact" class="btn btn-primary">Consulter nos services</boutton>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="about-inner-area">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Notre Mission</h3>
                        <p>Notre mission est de fournir des <strong>solutions IT complètes, flexibles et sécurisées</strong>  aux 
                            entreprises africaines, leur permettant de rester compétitives dans un monde en 
                            constante évolution. Nous croyons au<strong>potentiel technologique de l’Afrique</strong>  et nous 
                            engageons à transformer les défis numériques en moteurs de croissance pour nos 
                            clients.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Nos Valeurs</h3>
                        <p>Nos valeurs guident chaque projet et relation que nous entretenons. Chez Oziss, nous 
                            prônons l’ <strong>innovation</strong> , la <strong>proximité</strong> , la <strong>fiabilité</strong>  et la
                            <strong>responsabilité</strong>  pour oGrir des 
                            solutions à la fois performantes et durables.
                            
                        </p>
                        <!-- <ul>
                            <li>
                                <p><strong>Innovation</strong>  : Nous intégrons les technologies les plus avancées pour 
                                anticiper les besoins de nos clients</p>
                            </li>
                            <li>
                                <p><strong>Proximité</strong>  : Présents localement, nous comprenons les réalités africaines 
                                et adaptons nos solutions en conséquence</p>
                            </li>
                            <li>
                                <p> <strong>Fiabilité</strong> : Nous assurons des résultats durables avec des solutions 
                                    robustes qui répondent aux exigences les plus élevées.</p>
                            </li>
                            <li>
                                <p> <strong>Responsabilité</strong> : Nous nous engageons pour un développement durable 
                                    et minimisons notre impact environnemental tout en soutenant les économies locales.</p>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Notre Expertise</h3>
                        <p>Avec une équipe de professionnels qualifiés,<strong>Oziss</strong> offre une expertise unique dans 
                            plusieurs domaines clés :</p>
                            <!-- <ul>
                                <li>
                                    <p><strong> Développement de Solutions Personnalisées :</strong> Logiciels sur mesure 
                                        adaptés aux besoins spécifiques des entreprises africaines.
                                        </p>
                                </li>
                                <li>
                                    <p><strong>Gestion de Projets IT :</strong>  Planification et gestion de projets technologiques 
                                        complexes</p>
                                </li>
                                <li>
                                    <p><strong> Cybersécurité :</strong> Protection des systèmes contre les menaces 
                                        informatiques et attaques.</p>
                                </li>
                                <li>
                                    <p><strong>onseil et Stratégie IT :</strong>C Accompagnement pour aligner les technologies 
                                        IT avec les objectifs commerciaux.</p>
                                </li>
                                <li>
                                    <p><strong>Support et Maintenance :</strong> Assistance technique continue et proactive 
                                        pour garantir la performance des infrastructures.</p>
                                </li>
                                <li>
                                    <p><strong>Cloud Computing :</strong> Solutions cloud évolutives et sécurisées pour la 
                                        gestion des données.</p>
                                </li>
                                <li>
                                    <p><strong>Intelligence Artificielle et Big Data :</strong> Analyse de données et prise de 
                                        décision basée sur l’IA</p>
                                </li>
                            </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape2 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.png" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape22.png" alt="shape"></div>
</div>

<div class="repair-about-area ptb-80">
    <div class="container">
        <div class="row">
                <div class="about-content">
                    <ul>
                        <li><span> <strong>Innovation :</strong>  Nous intégrons les technologies les plus avancées pour 
                            anticiper les besoins de nos clients.</span></li>
                        <li><span> <strong>Proximité : </strong> Présents localement, nous comprenons les réalités 
                            africaines et adaptons nos solutions en conséquence.</span></li>
                        <li><span> <strong>Fiabilité  : </strong> Nous assurons des résultats durables avec des solutions 
                            robustes qui répondent aux exigences les plus élevées.</span></li>
                        <li><span><strong>Responsabilité  : </strong> Nous nous engageons pour un développement 
                            durable et minimisons notre impact environnemental tout en soutenant les économies locales.</span></li>                        
                    </ul>
                </div>
        </div>
    </div>
</div>

<!-- Team -->
<!-- <div class="team-area ptb-80 bg-f9f6f6">
    <div class="container">
        <div class="section-title">
            <h2>Our Awesome Team</h2>
            <div class="bar"></div>
            <p>Au fil du temps, notre expertise nous a permis de travailler dans plusieurs projets aussi différents les uns que les autres..</p>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="team-slides">
            <owl-carousel-o [options]="teamSlides">
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/1.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Josh Buttler</h3>
                                <span>CEO & Founder</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/2.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Alex Maxwel</h3>
                                <span>Marketing Manager</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/3.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Janny Cotller</h3>
                                <span>Web Developer</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/4.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Jason Statham</h3>
                                <span>UX/UI Designer</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/5.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Corey Anderson</h3>
                                <span>Project Manager</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/1.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Josh Buttler</h3>
                                <span>CEO & Founder</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/2.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Alex Maxwel</h3>
                                <span>Marketing Manager</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/3.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Janny Cotller</h3>
                                <span>Web Developer</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/4.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Jason Statham</h3>
                                <span>UX/UI Designer</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="assets/img/team-image/5.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Corey Anderson</h3>
                                <span>Project Manager</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul>
                            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum. </p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div> -->

<!-- Feedback -->
<!-- <div class="ml-feedback-area ptb-80">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Testimonials</span>
            <h2>Our Clients Feedback</h2>
            <div class="bar"></div>
            <p>Au fil du temps, notre expertise nous a permis de travailler dans plusieurs projets aussi différents les uns que les autres..</p>
        </div>
        <div class="ml-feedback-slides">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="single-testimonials-item">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                        <div class="client-info">
                            <img src="assets/img/client-image/1.jpg" alt="image">
                            <div class="rating">
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                            </div>
                            <h3>Sarah Taylor</h3>
                            <span>CEO at Envato</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonials-item">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                        <div class="client-info">
                            <img src="assets/img/client-image/3.jpg" alt="image">
                            <div class="rating">
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                            </div>
                            <h3>Steven Smith</h3>
                            <span>CEO at Envato</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonials-item">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                        <div class="client-info">
                            <img src="assets/img/client-image/2.jpg" alt="image">
                            <div class="rating">
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                                <i data-feather="star"></i>
                            </div>
                            <h3>James Eva</h3>
                            <span>CEO at Envato</span>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="user-shape1"><img src="assets/img/agency-image/user1.png" alt="image"></div>
    <div class="user-shape2"><img src="assets/img/agency-image/user2.png" alt="image"></div>
    <div class="user-shape3"><img src="assets/img/agency-image/user3.png" alt="image"></div>
    <div class="user-shape4"><img src="assets/img/agency-image/user4.png" alt="image"></div>
    <div class="user-shape5"><img src="assets/img/agency-image/user5.png" alt="image"></div>
    <div class="user-shape6"><img src="assets/img/agency-image/user6.png" alt="image"></div>
</div> -->

<!-- Funfacts -->
<div class="funfacts-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Nos projets</h2>
            <div class="bar"></div>
            <p>Au fil du temps, notre expertise nous a permis de travailler dans plusieurs projets aussi différents les uns que les autres..</p>
        </div>
      <div class="row">
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3>+<span [countUp]="36"></span></h3>
                    <p>Projets Délivrés</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3>+<span [countUp]="9">00</span></h3>
                    <p>Industries</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3>+<span [countUp]="40">00</span></h3>
                    <p>Services supportés</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3>+<span [countUp]="25">00</span></h3>
                    <p>Sites web crées</p>
                </div>
            </div>
        </div>
        <div class="map-bg">
            <img src="assets/img/map.png" alt="map">
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape11.png" alt="shape"></div>
	<div class="shape4"><img src="assets/img/shape4.png" alt="shape"></div>
</div>

<!-- Partner -->

  <div class="repair-partner-area bg-f9fafb">
    <div class="container">
      <div class="section-title">
        <h2>Nos Partenaires</h2>
        <div class="bar"></div>
        <p>
          Nous collaborons avec des entreprises de premier plan dans divers secteurs pour garantir des solutions technologiques de qualité et adaptées aux exigences locales et internationales.
        </p>
      </div>
      <div class="partner-slides">
        <owl-carousel-o [options]="partnerSlides">
          <ng-template carouselSlide *ngFor="let partner of allPartners">
            <div class="single-repair-partner">
              <a [href]="partner.url" target="_blank">
                <img [src]="getImageUrl(partner.image)" [alt]="partner.nom" />
              </a>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  
<!-- Ambition -->

<div class="agency-about-area ptb-80">
    <div class="container-fluid">
        <div class="container">
            <div class="section-title">
                <h2>Notre Ambition</h2>
                <div class="bar"></div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="agency-about-img">
                    <!-- <img src="assets/img/agency-image/about-img.jpg" alt="image"> -->
                    <img src="assets/img/drawn-arrow-bouncing-up-blocks.jpg" alt="image">

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="agency-about-content">
                            <p>
                                L’Afrique est un continent en pleine expansion, et nous avons pour ambition de jouer un 
                                rôle clé dans son <strong>développement numérique</strong> . En tant que partenaire de confiance, 
                                nous voulons aider les entreprises africaines à tirer parti des <strong>meilleures technologies</strong> 
                                pour prospérer dans un environnement globalisé.
                            </p>
                </div>
            </div>
        </div>
    </div>

</div>




<!-- pourquoi nous -->
<div class="repair-about-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="repair-about-content">
                    <div class="container">
                        <div class="section-title">
                            <h2>Pourquoi vous choisissez OZISS CORPORATION</h2>
                            <div class="bar"></div>
                        </div>
                    </div>
                    <span class="sub-title" >Pourquoi vous choisissez OZISS CORPORATION</span>
                    <ul>
                        <li><span><i-feather name="check"></i-feather> <strong>Solutions sur mesure</strong>  adaptées aux réalités africaines et à vos besoins 
                            spécifiques.</span></li>
                        <li><span><i-feather name="check"></i-feather> <strong>Expertise locale et internationale</strong> pour une réponse optimale aux défis 
                            de la transformation numérique.</span></li>
                        <li><span><i-feather name="check"></i-feather> <strong>Technologies de pointe</strong>  pour vous oIrir un avantage concurrentiel sur le 
                            marché.</span></li>
                        <li><span><i-feather name="check"></i-feather> <strong>Accompagnement de bout en bout,</strong>  de la conception de votre projet à sa 
                            mise en œuvre et au-delà.</span></li>
                        <li><span><i-feather name="check"></i-feather> <strong>Support client dédié</strong>  pour assurer la réussite continue de vos projets.</span></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="repair-about-image">
                    <img  class="animate__animated animate__fadeInDown" >
                    <img src="assets/img/question-mark-icon-solving-problem-solution-concept.jpg" class="animate__animated animate__zoomIn" alt="image">

                </div>
            </div>
        </div>
    </div>
</div>

