.about-content {
    
    .sub-title {
        text-transform: uppercase;
        color: var(--mainColor);
        display: block;
        font: {
            size: 15px;
            weight: 400;
        };
    }
    h2 {
        font: {
            size: 24px;
            weight: 600;
        };
        margin: {
            top: 10px;
            bottom: 10px;
        };
    }
    ul {
        padding: 0;
        display: flex;
        list-style-type: none;
        margin: 0;
        gap: 15px; /* Espace entre les éléments */
    }
    li {
        flex: 1; /* Prend toute la place disponible */
        max-width: 45%; /* Ajuste la largeur à 45% pour 2 éléments par ligne */
        color: var(--paragraphColor);
        position: relative;
        padding: 10px;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
        transition: var(--transition);
        border-radius: 3px;
        
        span {
            display: flex;
            flex-direction: column; /* Permet de placer les éléments l'un en dessous de l'autre */
            align-items: center; /* Centre les éléments horizontalement */
            text-align: center; /* Centre le texte */
            z-index: 1;
            padding: 10px;
            border-radius: 3px;
            transition: var(--transition);
        }

        &::before {
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: var(--gradientColor);
            opacity: 0;
            visibility: hidden;
            position: absolute;
            border-radius: 3px;
            z-index: -1;
            transition: var(--transition);
        }
        &:hover, &:focus {
            color: var(--whiteColor);
            transform: translateY(-5px);

            &::before {
                opacity: 1;
                visibility: visible;
            }

        }
    }
}

.funfacts-area {
    position: relative;
    z-index: 1;

    .section-title {
        h2 {
            max-width: 520px;
            margin: 0 auto;
            line-height: 37px;
        }
    }
    .map-bg {
        position: absolute;
        z-index: -1;
        top: 120px;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
    }
}

.funfact {
    text-align: center;

    h3 {
        color: var(--mainColor);
        font-size: 32px;
        margin-bottom: 7px;
    }
    p {
        line-height: initial;
    }
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-services-box {
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
    background: var(--whiteColor);
    transition: var(--transition);
    padding: {
        top: 30px;
        left: 20px;
        right: 20px;
        bottom: 30px;
    };
    h3 {
        font-size: 18px;
        margin: {
            top: 25px;
            bottom: 15px;
        };
    }
    .icon {
        width: 55px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        border-radius: 50%;
        background: #8893db;
        color: var(--mainColor);
        transition: var(--transition);

        &.bg-c679e3 {
            color: var(--purpleColor);
            background: #edc3fc;
        }
        &.bg-eb6b3d {
            color: #eb6b3d;
            background: rgba(235, 107, 61, .3);
        }
    }
    &::before, &::after {
        width: 0;
        bottom: 0;
        opacity: 0;
        content: '';
        height: 4px;
        visibility: hidden;
        position: absolute;
        background: var(--mainColor);
        transition: var(--transition);
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

        .icon {
            background: var(--mainColor);
            color: var(--whiteColor);

            &.bg-c679e3 {
                background: var(--purpleColor);
            }
            &.bg-eb6b3d {
                background: #eb6b3d;
            }
        }
        &::after, &::before {
            visibility: visible;
            opacity: 1;
            width: 50%;
        }
    }

}

.single-repair-partner {
    text-align: center;

    a {
        display: block;
        position: relative;

        img {
            width: 150px; /* Fixer la largeur */
            height: 100px; /* Fixer la hauteur */
            object-fit: contain; /* Maintient le contenu de l'image visible, même avec des dimensions fixes */
            display: block; /* S'assure que l'image s'affiche correctement */
            transition: opacity 0.3s ease, visibility 0.3s ease;
            // filter: drop-shadow(2px 2px 7px cyan);
        }
        
        &:hover {
            img {
                &:last-child {
                    opacity: 1;
                    visibility: visible;
                    top: 0; /* Assurez-vous que ce style est approprié pour votre cas */
                }
            }
        }
    }
}


.repair-about-content {
    .sub-title {
        text-transform: uppercase;
        color: var(--mainColor);
        display: block;
        font: {
            size: 15px;
            weight: 400;
        };
    }
    h2 {
        font: {
            size: 24px;
            weight: 600;
        };
        margin: {
            top: 10px;
            bottom: 10px;
        };
    }
    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin: {
            top: -10px;
            left: -10px;
            right: -10px;
        }
        li {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 100%;
            margin-top: 25px;
            color: var(--paragraphColor);
            position: relative;
            padding: {
                right: 10px;
                left: 10px;
            };
            span {
                display: block;
                position: relative;
                z-index: 1;
                padding: 10px;
                border-radius: 3px;
                transition: var(--transition);
                box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

                i-feather {
                    margin-right: 5px;
                    display: inline-block;
                    color: var(--mainColor);
                    transition: var(--transition);
                    width: 18px;
                }
                &::before {
                    content: '';
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background: var(--gradientColor);
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    border-radius: 3px;
                    z-index: -1;
                    transition: var(--transition);
                }
                &:hover, &:focus {
                    color: var(--whiteColor);
                    transform: translateY(-5px);

                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                    i-feather {
                        color: var(--whiteColor);
                    }
                }
            }
        }
    }
}
.repair-about-image {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        position: absolute;

        &:nth-child(1) {
            left: 0;
            top: 0;
            z-index: 1;
        }
        &:nth-child(2) {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            text-align: center;
            z-index: 2;
            margin: 0 auto;
            border: 5px solid #f8fbff;
            width: 350px;
        }
        &:nth-child(3) {
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        &:nth-child(4) {
            right: 0;
            top: 0;
        }
        &:nth-child(5) {
            left: 0;
            bottom: 0;
        }
    }
}


.single-repair-box {
    text-align: center;
    background-color: var(--whiteColor);
    border: 1px dashed #8893db;
    padding: 30px;
    position: relative;
    z-index: 1;
    transition: var(--transition);

    h3 {
        font-size: 18px;
        margin: {
            top: 22px;
            bottom: 17px;
        };
    }
    p {
        margin-bottom: 25px;
    }
    a {
        width: 40px;
        background-color: #eef0f3;
        height: 40px;
        line-height: 40px;
        color: var(--blackColor);
        border-radius: 50%;

        i-feather {
            width: 18px;
        }
    }
    .icon {
        display: inline-block;
        border: 1px solid #6ee9fa;
        width: 100px;
        height: 100px;
        line-height: 100px;
        border-radius: 50%;
        position: relative;
        color: var(--whiteColor);
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            background: var(--gradientColor2);
            border-radius: 50%;
            margin: 6px;
            transition: var(--transition);
        }
        i {
            &::before {
                font-size: 35px;
            }
        }
    }
    .back-icon {
        position: absolute;
        top: 58%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        color: #4457c3;
        opacity: .06;
        z-index: -1;
        
        i {
            &::before {
                font-size: 200px;
            }
        }
    }
    &:hover {
        border-color: var(--mainColor);

        a {
            background-color: var(--mainColor);
            color: var(--whiteColor);
        }
    }
}

@media only screen and (max-width: 767px) {
    .about-content {
        margin-bottom: 40px;

        .sub-title {
            font-size: 14px;
        }
        h2 {
            font-size: 20px;
        }
        ul {
            display: block; /* S'assure que les éléments à l'intérieur soient en colonne */
            
            li {
                flex: 0 0 100%; /* Prend 100% de la largeur */
                max-width: 100%; /* Limite la largeur à 100% */
                margin-top: 15px; /* Espace entre chaque élément */
                background: var(--gradientColor); /* Appliquez le dégradé en arrière-plan */
                padding: 10px; /* Ajustez le padding pour rendre le texte plus lisible */
                border-radius: 5px; /* Arrondit les coins pour un rendu plus esthétique */
                color: var(--whiteColor); /* Change la couleur du texte pour un meilleur contraste */
                display: flex; /* Centrer le contenu */
                align-items: center; /* Aligne verticalement les éléments */
            }
    
            li span {
                display: flex;
                align-items: center; /* Pour centrer l'icône et le texte */
            }
    

        }
    }

    .single-repair-box {
        width: 340px; 
        padding: 20px; /* Ajustez le padding pour réduire l'espace interne */
        margin: 10px auto; 
        background: var(--gradientColor); /* Appliquez le dégradé en arrière-plan */
        border-radius: 5px; /* Arrondit les coins pour un rendu plus esthétique */
        color: var(--whiteColor); /* Change la couleur du texte pour un meilleur contraste */
        h3 {
            font-size: 20px; /* Augmentez la taille de la police */
            margin-top: 10px; /* Espacement au-dessus du titre */
            margin-bottom: 5px; /* Espacement en dessous du titre */
            color: white;

        }
        
        p {
            font-size: 18px; /* Augmentez la taille de la police */
            margin-bottom: 10px; /* Espacement en dessous de la description */
            color: white;
        }
    }

}